.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

main {
  flex: 1;
  overflow: auto;
}

section {
  position: absolute;
  width: 120px;
  font-size: 12px;
}

h4, p {
  margin: 4px;
}

section img {
  height: 60px;
  width: 60px;
}